.container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
  }
  

  #label {
    padding-right: 10px;
    color: blue;
  }

  #text1 {
    margin-right: 10px;
  }

  #ypologismos {
    color:blue;
  }

  #efk {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: center;
    /* padding: none; */
  }
  

  